<div class="login-wrapper">
    <mat-card class="login-card">

        <mat-card-header>
            <div class="card-top">
                <div class="brand">
                    <mat-icon class="brand-icon">dashboard</mat-icon>
                    <span class="brand-name">MJSuite</span>
                </div>
                <div class="header-text">
                    <!-- <h2 class="welcome-title">Welcome Back!</h2> -->
                    <p class="welcome-subtitle">Sign in to continue</p>
                </div>
            </div>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" placeholder="Enter your email" />
                    <mat-icon matSuffix>email</mat-icon>
                    @if (email?.hasError('required')) {
                    <mat-error>Email is required</mat-error>
                    } @else if (email?.hasError('email')) {
                    <mat-error>Enter a valid email</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'"
                        placeholder="Enter your password" />
                    <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    @if (password?.hasError('required')) {
                    <mat-error>Password is required</mat-error>
                    } @else if (password?.hasError('minlength')) {
                    <mat-error>Minimum 6 characters required</mat-error>
                    }
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit" class="full-width login-btn"
                    [disabled]="loginForm.invalid">
                    Login
                </button>

            </form>
        </mat-card-content>

        <mat-card-footer class="login-footer">
            Don't have an account?
            <a routerLink="/auth/register">Register here</a>
        </mat-card-footer>

    </mat-card>
</div>