<app-loader />

<mat-toolbar color="primary">
    <span>My App</span>
    <span class="spacer"></span>
    @if(isLoggedIn){
    <button (click)="logout()" mat-icon-button>
        <mat-icon>logout</mat-icon>
    </button>
    }
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">

    <mat-sidenav mode="side" opened class="sidenav">
        <mat-nav-list>
            @for (link of navLinks; track link.route) {
            <a mat-list-item [routerLink]="link.route" routerLinkActive="active-link">
                <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
                <span matListItemTitle>{{ link.label }}</span>
            </a>
            }
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="main-content">
        <router-outlet />
    </mat-sidenav-content>

</mat-sidenav-container>