/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// snackbar styles
.snack-success {
    --mdc-snackbar-container-color: #2e7d32 !important;
    --mdc-snackbar-supporting-text-color: white !important;
    --mat-snack-bar-button-color: white !important;
}

.snack-error {
    --mdc-snackbar-container-color: #c62828 !important;
    --mdc-snackbar-supporting-text-color: white !important;
    --mat-snack-bar-button-color: white !important;
}